language: python

python:
    - '3.7'
    - '3.8'
    - '3.9'
    - '3.10'
    - '3.11'
    - '3.12'
    - '3.13'
    - '3.14'
install:
    - pip3 install .
    - pip install -r requirements.txt
script: make test
after_success:
    - bash <(curl -s https://codecov.io/bash)


